################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/src/DataEditTool/DataEditTool/obj
/src/DataEditTool/Libs/bin/Debug/net6.0
/src/DataEditTool/Libs/obj
/src/DataEditTool/DataEditTool/bin/Debug/net6.0-windows
